*{
    margin:0;
    padding:0;
  }
  
  ul{
    padding:0;
    margin:0;
  }  
  
  li{
    list-style:none;
  }
  
  body{

    font-family: 'Poppins', sans-serif;
  }

  .side-menu{
      position: fixed;
      background: #000;
      width:250px;
      height:100%;
      box-sizing: border-box;
      padding:30px 20px;
      transition: width .2s ease-in;
      z-index: 10000;
  }

  .side-menu.inactive{
      width:80px;
  }

  .side-menu .top-section{
    position: relative;
}

 .side-menu .top-section .logo{
    width: 250px;
    height: 40px;
    display: inline-block;
    color: #fff;
    opacity: 1;
    transition: opacity .2s ease-in;
} 

.side-menu.inactive .top-section .logo{
  opacity: 0;
  width: 0;
  overflow: hidden;
}

.side-menu .top-section{
    position: relative;
}


.side-menu .top-section .toggle-menu-btn{
    color:#eee;
    font-size: 28px;
    position: absolute;
    top:5%;
    right:0;
    transform: translateY(15%); 
    cursor: pointer;
}

.side-menu.inactive .top-section .toggle-menu-btn{
      right: 7px;
}

.divider{
    width:100%;
    height: 1px;
    border-radius: 1px;
    background: #333;
    
} 

.side-menu .main-menu{
    margin:5px 0;
}

.side-menu .main-menu .menu-item .menu-icon{
      display: inline-block;
      width:40px;
      height:40px;
      font-size: 20px;
      line-height: 40px;
      text-align: center;
}

.side-menu .main-menu .menu-item{
    color:#fff;
    text-decoration: none;
    font-size: 15px;
    display: block;
    font-weight: 600;
    cursor: pointer;
}

.side-menu .main-menu .menu-item span{
   position: absolute;
   display: inline-block;
   line-height: 40px;
   opacity: 1;
   transition: opacity .2s ease-in;
}

.side-menu.inactive .main-menu .menu-item span{
  opacity: 0;
  width: 0;
  overflow: hidden;
  
}
.side-menu-footer{
  width: 115%;
  left:0;
  margin-left: -20px;
  position: absolute;
  padding:  20px;
  box-sizing: border-box;
  top:430px

}

/* .side-menu.inactive .side-menu-footer{
  width: 199%;
  overflow: hidden;

} */

.side-menu-footer .avatar{
  width:40px;
  height:40px;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
}

.side-menu-footer .avatar img{
    max-width: 100%;
}
.side-menu-footer .user-info{
     display: inline-block;
     max-width: 100%;
     margin: 0 10px;
     color:#fff;
     position: absolute;
     opacity: 1;
     transition: opacity .2s ease-in;
}

.side-menu.inactive .side-menu-footer .user-info{
  opacity: 1;
  width: 0;
  height: 0;
  overflow: hidden;
}

.side-menu-footer .user-info h5{
  font-size: 15px;
}

.side-menu-footer .user-info p{
  font-size: 12px;
}


@media screen and (min-width:1px) and (max-width:768px){
  .side-menu-footer{
    width: 115%;
    left:0;
    margin-left: -20px;
    position: absolute;
    padding:  20px;
    box-sizing: border-box;
    top:320px
  
  }
}
