.employee-input{
    margin-top: 60px;
}

.progress-bar{
    width: 40px;
    height:3px;
    background: #63a2ff;
    border-radius: 15px;
}

body{
    font-family: 'Poppins', sans-serif;
}

.login-card{
    border-radius: 15px;
    box-shadow: 1px 1px 20px 5px rgba(138, 137, 137, 0.39);
    
}


